<div class="container-fluid p-0 m-0">
  <div class="row">
    <div class="col">
      <em class="display-2 fa fa-flag p-4 text-success"></em>
      <em class="display-2 fa fa-flag p-4 text-success"></em>
      <em class="display-2 fa fa-flag p-4 text-success float-right"></em>
      <em class="display-2 fa fa-flag p-4 text-success float-right"></em>
    </div>
  </div>

  <div class="row p-0 m-0">
    <div class="col p-0 m-0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false">
          <span class="navbar-toggler-icon text-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link text-light" href="#">AKTUALNOŚCI</a>
            <a class="nav-item nav-link text-light" href="#">MIASTA</a>
            <a class="nav-item nav-link text-light" href="#">REGULAMIN</a>
            <a class="nav-item nav-link text-light" href="#">REGULAMIN JUNIOR</a>
            <a class="nav-item nav-link text-light" href="#">FAQ</a>
            <a class="nav-item nav-link text-light" href="#">SKLEP</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>


