<div class="container-fluid">
  <div class="row img-background align-items-center">
    <div class="col-8">
      <h1 class="text-light font-weight-bold text-center font align-middle">
        6 miesięcy, 10 lokalizacji, 60 biegów
      </h1>
      <h2 class="text-light text-center align-middle">
        Grand Prix CITY TRAIL z Nationale-Nederlanden - największy cykl biegów w Polsce
      </h2>
    </div>
    <div class="col-4">
      <app-calendar-list [items]="items"></app-calendar-list>
    </div>
  </div>
  <div class="row-cols-6">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active"  *ngFor="let imageSrc of carouselSrcs">
          <img class="d-block w-100" [src]="imageSrc" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

