.img-background {
  background-image: url("https://images.pexels.com/photos/2530130/pexels-photo-2530130.jpeg?cs=srgb&dl=photo-of-people-walking-on-street-2530130.jpg&fm=jpg");
  height: 512px;
  background-size: cover;
}
